/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* End RESET */



/* FONT Declarations ---------*/
.dc-wrapper {
	font-family: 'Cuprum', sans-serif;
	font-weight: 400;
}

.dc-txt__b,
.dc-txt__strong {
	font-weight: 700;
}

.dc-txt__em,
.dc-txt__i {
	font-style: italic;
}

.dc-button--roll,
.dc-config__btn,
.dc-config__valid-error,
.dc-header__title,
.dc-history__th,
.dc-input__valid-error,
.dc-panel__title,
.dc-panel__subtitle,
.dc-results__th,
.dc-roll-input__minus,
.dc-roll-input__plus {
	font-family: 'Signika', sans-serif;
	font-weight: 600;
}



/*Color Scheme Index ----------
----HIGHLIGHT GREEN:    #BADA55
    background-color    [ button:active, ::selection, .dc-header,
                          .dc-results__th, .dc-history__th,
                          .input-set, .tr--odd ];
    box-shadow          [ input:focus ];
----
    WARNING/ERROR RED:  #FF5555
    box-shadow          [ :invalid ];
    color               [ :invalid, .config_valid-error, 
                          .input_valid-error ];
----
    BLACK:              #000000
    border-color        [ .dc-header, section[class^="dc-panel__"], .dc-roll-input__minus, .dc-roll-input__plus ];
----
    DARK GREY:          #333333
    color               [ .dc-wrapper, .dc-btn, input ];
----
    MIDDLE GREY:        #888888
    background-color    [ .dc-roll-input__minus:active, .dc-roll-input__plus:active, 
                          .accordion__bar:hover::after ];
    border-color        [ button, .dc-header__title, .dc-panel__subtitle, .dc-panel__title, input,
                          .dc-history__table, .dc-history__tbody, .dc-history__td,
                          .dc-history__th, .dc-history__thead, .dc-history__tr,
                          .dc-results__table, .dc-results__tbody, .dc-results__td,
                          .dc-results__th, .dc-results__thead, .dc-results__tr,
                          .accordion__bar::after ];
    color               [ .accordion__bar:active::after ];
----
    LIGHT GREY:         #CCCCCC
    background-color    [ .accordion--closed ];
----
    VERY LIGHT GREY:    #D8D8D8
    background-color    [ .accordion__bar:hover ];
----
    WHITE:              #FFFFFF
    background-color    [ .accordion__bar:active::after, 
                          .dc-roll-input__minus, .dc-roll-input__plus ];
    color               [ .accordion__bar:hover::after, 
                          .dc-roll-input__minus:active, .dc-roll-input__plus:active ];
-------------------------------*/



.dc-wrapper { 
	color: #333333;
}

.dc-btn {
	background: none;
	border-color: #888888;
	color: #333333;
	font-size: 0.85em;
	margin: 0.25em 0.25em 0.25em 0em;
	padding: 0.3em;
}
button:hover {
	cursor: pointer;
}
button:active {
	background-color: #BADA55;
}

.dc-config__form {
	margin: 10px;
}

.dc-header__title,
.dc-panel__subtitle,
.dc-panel__title {
	border-color: #888888;
	border-style: outset;
}

.dc-header__title {
	border-width: 5px 0;
	font-size: 1.7em;
	line-height: 1em;
	padding: 0.1em 0;
}

.dc-panel__title {
	border-width: 3px 0;
	font-size: 1.4em;
	letter-spacing: 0.1em;
	line-height: 1.4em;
	margin-bottom: 0.5em;
	padding: 0 0.5em;
}

.dc-panel__subtitle {
	border-width: 2px 0;
	font-size: 1.2em;
	line-height: 1.3em;
	margin-bottom: 0.5em;
	padding: 0 0.5em 0 1.25em;
}

input {
	border: inset 1px #888888;
	color: #333333;
}
/*number input spinner hiding*/
input[type=number] {
	-moz-appearance: textfield;
}
::-webkit-inner-spin-button { 
	-webkit-appearance: none;
}
::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}
input:focus {
	outline: none; /*clear the blue glow*/
	box-shadow: 0 0 3px 2px #BADA55;
}

.dc-config__li--check, .dc-panel__litem {
	margin: 0 0 0.25em;
}

/*paragraph styling*/
.dc-panel__p,
.dc-input__valid-error,
.dc-config__valid-error {
	text-indent: 1em;
	line-height: 1.4em;
	margin: 0 0.5em 0.5em;
}

::selection {
	background-color: #BADA55;
}

table, tbody, thead, tr,
.dc-history__td, .dc-history__th,
.dc-results__td, .dc-results__th {
	border: solid 2px #888888;
}
.dc-history__td, .dc-results__td {
	border-style: dotted;
}
.dc-history__td, .dc-history__th,
.dc-results__td, .dc-results__th,
tr {
	border-width: 1px;
}

.dc-history__td, .dc-history__th,
.dc-results__td, .dc-results__th {
	min-width: 4em;
	padding: 0.25em;
}

.dc-history__th,
.dc-results__th {
	background-color: #BADA55;
}

.dc-config__ul {
	margin: 0 1em 0.5em 2.5em;
}

.dc-panel__ol {
	list-style-type: decimal;
	margin: 0 1em 0.5em 3em;
}

.accordion__bar {
	cursor: pointer;
}
.accordion__bar::after {
	border-color: #888888;
	border-style: solid;
	border-width: 0 2px;
	content: "~";
	float: right;
	height: 1em;
	line-height: 1em;
	margin: 4px 0;
	padding: 0 0.25em;
	text-align: center;
	width: 0.5em;
}
.accordion__bar:hover {
	background-color: #D8D8D8;
	border-style: inset;
}

.accordion__bar:hover::after {
	background-color: #888888;
	color: #FFFFFF;
}
.accordion__bar:active::after {
	background-color: #FFFFFF;
	color: #888888;
}

.accordion__bar--closed {
	margin-bottom: 0;
}
.accordion__bar--closed::after {
	content: "+";
}

.accordion--closed {
	background-color: #CCCCCC;
	box-shadow: 0px 0px 3px inset;
	padding-bottom: 0;
	overflow: hidden;
}

.button--roll {
	bottom: -20px;
	height: 50px;
	left: 7px;
	position: relative;
	width: 50px;
}

.clear-both {
	clear: both;
}

.config__li--check {
	text-indent:-2.5em;
}

.config-input--num {
	width: 3em;
}

.config_valid-error {
	color: #FF5555;
}

.dc-header {
	background-color: #BADA55;
}

.dc-header,
section[class^="dc-panel"] {
	border: solid 1px #000000;
	padding: 1em;
}

.hidden {
	display: none;
}

.dc-input-set {
	background-color: #BADA55;
	float: left;
	padding: 5px;
	position: relative;
	width: 70px;
}

.input-set__lbl {
	display: block;
	font-size: 1.1em;
	margin-bottom: 5px;
	text-align: center;
}

.dc-input__valid-error {
	color: #FF5555;
}

:invalid {
	box-shadow: 0 0 3px 1px #FF5555 inset;
	color: #FF5555;
}

.dc-roll-input__minus, .dc-roll-input__plus {
	background-color: #FFFFFF;
	border: solid 1px #000000;
	display: inline-block;
	font-size: 20px;
	height: 19px;
	line-height: 13px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 2px;
	text-align: center;
	width: 19px;
}
.dc-roll-input__minus {
	bottom: 5px;
}
.dc-roll-input__plus {
	bottom: 26px;
}
.dc-roll-input__minus:hover, .dc-roll-input__plus:hover {
	cursor: pointer;
}
.dc-roll-input__minus:active, .dc-roll-input__plus:active {
	background-color: #888888;
	color: #FFFFFF;
}

.output-list--arg {
	display: inline-block;
	text-align: right;
	text-indent: 0;
}

.dc-results__th {
	border-width: 1px 2px;
	border-style: solid;
	text-align: right;
}

.roll-input {
	display: inline-block;
	font-size: 1.4em;
	height: 36px;
	padding: 1px;
	text-align: right;
	width: 48px;
}

.scroll-x {
	overflow-x: scroll;
}

.tr--odd {
	background-color: #BADA55;
}


/*Media Queries -----------------*/
/*pending*/

.dc-wrapper {
	width: 100%;
}
